<h3 class="text-center p-5">Lista Attività</h3>
<hr>

<div class="card">
  <p-table
    #dt1
    [value]="attivitaList"
    dataKey="num_tesserino"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['cliente', 'richiedente', 'oggetto', 'spese_postali', 'tipo_atto', 'tipo_spedizione', 'tipo_stampa', 'vettore_postale']"
  >
    <ng-template pTemplate="caption">
      <div class="row ">

        <div class="col-12" *ngIf="role != 'dipendente'">

          <p-button label="Crea Nuova Attività di Stampa" [raised]="true" [rounded]="true" class="p-2 float-end" size="small" (click)="stampaCustomer()"></p-button>
        </div>

      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th >
          <div class="flex align-items-center">
            Cliente
          </div>
        </th>

        <th >
          <div class="flex align-items-center">
            Oggetto

          </div>
        </th>

        <th >
          <div class="flex align-items-center text-center">
            Spese Postali

          </div>
        </th>
        <th >
          <div class="flex align-items-center text-center">
            Tipo Atto

          </div>
        </th>
        <th >
          <div class="flex align-items-center text-center">
            Tipo Spedizione

          </div>
        </th>
        <th >
          <div class="flex align-items-center text-center">
            Tipo Stampa

          </div>
        </th>
        <th >
          <div class="flex align-items-center text-center">
            Vettore Postale

          </div>
        </th>
        <th>Azioni</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          {{customer.stampa?.cliente}}
        </td>
        <td>
          {{customer.stampa?.oggetto}}
        </td>
        <td>
          {{customer.stampa?.spese_postali}}
        </td>
        <td>
          {{customer.stampa?.tipo_atto}}
        </td>
        <td>
          {{customer.stampa?.tipo_spedizione}}
        </td>
        <td>
          {{customer.stampa?.tipo_stampa}}
        </td>
        <td>
          {{customer.stampa?.vettore_postale}}
        </td>
        <td>
          <p-button (click)="editCustomer(customer)" label="Modfica" class="p-2" *ngIf="role === 'pm' && !customer?.ddt"></p-button>
          <p-button (click)="editCustomerDipendente(customer)" label="Modfica" class="p-2" *ngIf="role === 'dipendente' "></p-button>
          <p-button (click)="deleteCustomer(customer)" label="Elimina" severity="danger" *ngIf="!customer?.ddt"></p-button>
            <p-button *ngIf="customer?.consegna && !customer?.ddt" label="DDT" severity="info" class="p-2" (click)="ddt(customer)" ></p-button>
            <p-button *ngIf="customer?.ddt" icon="pi pi-eye" severity="secondary" class="p-2" (click)="openPDF(customer?.ddt?.pdfUrl)"></p-button>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Nessun elemento trovato.</td>
      </tr>
    </ng-template>
  </p-table>
</div>


