<div class="container my-5">
  <div class="row shadow-lg" style="border-radius:7px;">
    <div class="col-lg-6 p-5" style="background-color: #ADD6FF; border-top-left-radius: 7px; border-bottom-left-radius: 7px;">
      <h2 class="text-center">REGISTRAZIONE UTENTE</h2>
      <form (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="inputName" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputName" placeholder="Inserisci il tuo nome" [(ngModel)]="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="inputSurname" class="form-label">Cognome</label>
          <input type="text" class="form-control" id="inputSurname" placeholder="Inserisci il tuo cognome" [(ngModel)]="surname" name="surname" required>
        </div>
        <div class="mb-3">
          <label for="inputRole" class="form-label">Ruolo</label>
          <select class="form-select" id="inputRole" [(ngModel)]="role" name="role" required>
            <option value="" disabled selected>Scegli il tuo ruolo</option>
            <option value="amministratore">Amministratore</option>
            <option value="pm">PM</option>
            <option value="dipendente">Dipendente</option>
            <option value="contabile">Contabile</option>
            <!-- Aggiungi altri ruoli qui se necessario -->
          </select>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Inserisci la tua email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Inserisci una password" [(ngModel)]="password" name="password" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Crea</button>
        </div>
      </form>
    </div>

    <div class="col-lg-6 p-5 col-sm-12 text-center" style="background-color: #D6EBFF; border-top-right-radius: 7px; border-bottom-right-radius: 7px;">
      <img src="../../../../assets/img/logo_1.png" height="114" alt="" width="205"/>
    </div>
  </div>
</div>
