<div class="container">
  <h3 class="text-center">Aggiungi Nuovo Comune</h3>
  <hr>

<form [formGroup]="comuniForm">
  <div class="row pt-3">
    <div class="col-3">
      <div class="form-group">
        <label for="nome_comune" class="active">Nome Comune</label>
        <input type="text" class="form-control" id="nome_comune" formControlName="nome_comune">
      </div>
    </div>
  </div>
</form>
  <div class="row justify-content-center">
    <div class="col text-center">
      <button type="submit" class="btn btn-success" (click)="saveForm()">Salva</button>
    </div>
  </div>
</div>
