<div class="container">
  <h3 class="text-center">Lista Comuni</h3>
  <hr>

  <div class="card text-center">
    <p-table
      #dt1
      [value]="comuniList"
      dataKey="num_tesserino"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['nome_comune',]"
    >
      <ng-template pTemplate="caption">
        <div class="row ">

          <div class="col-12">

            <p-button label="Crea Nuovo " [raised]="true" [rounded]="true" class="p-2 float-end" size="small" routerLink="/nuovo-appalto"></p-button>
          </div>

        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th >
            <div class="flex align-items-center">
              Tipologia Appalto
            </div>
          </th>
          <th>Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td class="text-center">
            {{customer.nome_appalto}}
          </td>
          <p-button (click)="editCustomer(customer)" label="Modfica" class="p-2"></p-button>
          <p-button (click)="deleteCustomer(customer)" label="Elimina" severity="danger"></p-button>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun elemento trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
