<div class="container p-3">
  <h3 class="text-center">GESTIONE STAMPA</h3>
  <hr>
  <form [formGroup]="attivitaForm">

    <div class="row pt-3">
      <div class="col-3">
        <div class="form-group">
          <label for="nome" class="active">Richiedente</label>
          <input type="text" class="form-control" id="nome" formControlName="userName">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="nome_comune" class="active">Cliente</label>
          <input type="text" class="form-control" id="nome_comune" formControlName="nome_comune">
        </div>
      </div>
    </div>
  </form>
  <form [formGroup]="risorseForm">
    <h6 class="text-center">Assegna attività a</h6>
    <div class="col p-3">
      <button type="button" class="btn-primary float-end" (click)="addRisorsa()">Aggiungi Risorsa</button>
    </div>
      <div formArrayName="risorse" class="p-3">
        <div *ngFor="let risorsa of risorse.controls; let i = index" [formGroupName]="i">
          <div class="row p-3" style="border: solid rgba(128,128,128,0.53)">
            <div class="col-3 p-2">
              <div class="select-wrapper">
                <label>Dipendenti</label>
                <select formControlName="dipendenti">
                  <option value="">Scegli un'opzione</option>
                  <option *ngFor="let hunter of filteredDipendentiList" [value]="hunter.id">
                    {{ hunter.name }} {{ hunter.surname }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-3 p-2">
              <div class="select-wrapper">
                <label>Tempo</label>
                <select formControlName="tempo" (change)="updateTempo(i, $event)">
                  <option value="">Scegli un'opzione</option>
                  <option value="full">Full Time</option>
                  <option value="part">Part Time</option>
                </select>
              </div>
            </div>
            <div *ngIf="risorsa.get('mostraPercentuale')!.value" class="col-3 p-2">
              <div class="form-group">
                <label for="percentuale" class="active">Percentuale</label>
                <input type="text" class="form-control" id="percentuale" formControlName="percentuale">
              </div>
            </div>
            <div class="col p-3">
              <button type="button" (click)="removeRisorsa(i)" class="btn-danger">Rimuovi</button>
            </div>
          </div>
        </div>
      </div>

  </form>
    <button type="submit" class="btn btn-success">Salva</button>

</div>
