<div class="container-fluid">
  <h3 class="text-center pt-2">Impostazioni</h3>
  <hr>
  <div class="card text-center">

    <p-tabView class="text-center">
      <p-tabPanel header="Comuni">
        <app-comuni></app-comuni>
      </p-tabPanel>
      <p-tabPanel header="Oggetto">
        <app-oggetto></app-oggetto>
      </p-tabPanel>
      <p-tabPanel header="Spese Postali">
        <app-spese-postali></app-spese-postali>
      </p-tabPanel>
      <p-tabPanel header="Tipo Atto">
        <app-tipo-atto></app-tipo-atto>
      </p-tabPanel>
      <p-tabPanel header="Tipo Ritiro">
       <app-tipo-ritiro></app-tipo-ritiro>
      </p-tabPanel>
      <p-tabPanel header="Tipo Spedizione">
       <app-tipo-spedizione></app-tipo-spedizione>
      </p-tabPanel>
      <p-tabPanel header="Tipo Stampa">
       <app-tipo-stampa></app-tipo-stampa>
      </p-tabPanel>
      <p-tabPanel header="Vettore Postale">
       <app-vettore-postale></app-vettore-postale>
      </p-tabPanel>
      <p-tabPanel header="Misura PNRR">
        <app-misura-pnrr></app-misura-pnrr>
      </p-tabPanel>
      <p-tabPanel header="Tipo Commessa">
        <app-tipo-commessa></app-tipo-commessa>
      </p-tabPanel>
      <p-tabPanel header="Attività">
        <app-attivita></app-attivita>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
