<div class="container p-3">
  <h3 class="text-center">Modifica Contabilità</h3>
  <hr>
  <form [formGroup]="modificaForm">
    <div class="row pt-3">
      <div class="col-3">
        <div class="form-group">
          <label for="n_fattura" class="active">N°Fattura</label>
          <input type="text" class="form-control" id="n_fattura" formControlName="n_fattura">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="importo" class="active">Importo</label>
          <input type="text" class="form-control" id="importo" formControlName="importo">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="descrizione" class="active">Descrizione</label>
          <input type="text" class="form-control" id="descrizione" formControlName="descrizione">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="cig" class="active">CIG</label>
          <input type="text" class="form-control" id="cig" formControlName="cig">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label class="active">Pagata</label>
          <div class="card flex justify-content-center">
            <p-toggleButton formControlName="pagato" onLabel="SI" offLabel="NO"></p-toggleButton>
          </div>
        </div>
        <div class="col-3">
          <label class="active">Emessa</label>
          <div class="card flex justify-content-center">
            <p-toggleButton formControlName="fattura_emessa" onLabel="SI" offLabel="NO"></p-toggleButton>
          </div>
        </div>
      </div>
      <div class="row">
        <h6 class="p-3">Periodo Fatturazione</h6>
        <div class="col-2">
          <div class="form-group">
            <label class="active" for="data_inizio">Data Inizio</label>
            <input type="date" id="data_inizio" formControlName="data_inizio">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="active" for="data_fine">Data Fine</label>
            <input type="date" id="data_fine" formControlName="data_fine">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <div class="col text-center">
      <button type="submit" class="btn btn-success" (click)="saveForm()">Salva</button>
    </div>
  </div>
</div>
